.start-button.bg-white {
    box-shadow: rgb(235 235 235) 0px 6px 0px;
}

.start-button.active {
    box-shadow: rgb(179, 179, 179) 0px 6px 0px;
}

.start-button:active {
    box-shadow: none !important;
    bottom: -6px !important;
}